input.ng-valid.ng-dirty {
  background: lightgreen;
}

input.ng-invalid.ng-dirty {
  background: lightsalmon;
}

.navbar {
  border-radius:0;
}

.glyphicon {
  float: right;
}

h3 {
  margin-top: 20px;
}

th {
  text-align: left;
  background: #a6a6a6;
}

table th,
table td {
  padding: 0 15px;
}

.delete_col:hover {
  cursor: pointer;
}
