<div class="jumbotron text-center">
  <h1>Login page</h1>
  <h3>{{errorMsg}}</h3>
  <form ng-submit="submitLogin()">
    <div>
      <label>E-mail:</label>
      <input type="text" ng-model="loggedinMember.email"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="text" ng-model="loggedinMember.password"/>
    </div>
    <div>
      <input ng-click="submit" type="submit" value="Submit"/>
    </div>
    <div>
      <img src="asserts/login.png" ui-sref="home">
    </div>
    <div>
      <a ui-sref="register">Register</a>
      <a href="http://www.greenfoxacademy.com/">Green Fox Academy</a>
    </div>
  </form>
</div>

</div>
