<div class="jumbotron text-center">
  <h1>Your page</h1>
</div>
<form>
  <p>First name: <input type="text" placeholder="First name" ng-model="yourFirstname" ng-blur="modifyYourData(yourFirstname)"/></p>
  <p>Last name: <input type="text" placeholder="Last name" ng-model="yourLastname" ng-blur="modifyYourData(yourLastname)"/></p>
  <p>E-mail adress: <input type="email" placeholder="name@email.com" ng-model="yourEmail" ng-blur="modifyYourData(yourEmail)"/></p>
  <p>GitHub profile: <input type="url" placeholder="https://github.com/Name" ng-model="yourGithub" ng-blur="modifyYourData(yourGithub)"/></p>
</form>
